{% extends 'base.html' %}

{% block title %} PRODUCTOS {% endblock %}

{%  block content %}

<h1>Lista de productos</h1>

<a href="{{ url_for('producto.create') }}" class="btn btn-success mb-3">Nuevo</a>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Stock</th>
        <th></th>
        <th></th>
    </tr>
    {% for item in productos %}
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.descripcion}}</td>
        <td>{{item.precio | round(2)}}</td>
        <td>{{item.stock}}</td>
        <td>
            <a href="{{ url_for('producto.edit',id=item.id) }}" class="btn btn-warning">Editar</a>
        </td>
        <td>
            <a href="{{ url_for('producto.delete',id=item.id) }}" class="btn btn-danger">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>

{%  endblock %}