{% extends 'base.html' %}

{% block title %} VENTAS | CREATE {% endblock %}

{% block content %}

<h1>Registro de venta</h1>

<form action="{{ url_for('venta.create') }}" method="POST">
    <div class="mb-3">
        <label for="" class="form-label">Cliente</label>
        <select name="cliente_id" class="form-control" required>
            <option value="">Seleccione un cliente</option>
            {% for cliente in clientes %}
            <option value="{{cliente.id}}">{{cliente.nombre}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Producto</label>
        <select name="producto_id" class="form-control" required>
            <option value="">Seleccione un producto</option>
            {% for producto in productos %}
            <option value="{{producto.id}}">{{producto.descripcion}}</option>
            {% endfor %}
        </select>
    </div> 
    <div class="mb3">
        <label for="" class="form-label">Cantidad</label>
        <input type="number" class="form-control" name="cantidad" required>
    </div>
    <div class="mb3">
        <label for="" class="form-label">Fecha</label>
        <input type="date" class="form-control" name="fecha" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Registrar venta</button>
</form>

{% endblock %}